

/* 맨 하단 */

footer {
  width: 100%; 
  height: 265px; 
  /* color */
  --bs-bg-opacity: 1;
  background-color: rgba(248, 249, 250, var(--bs-bg-opacity)) !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.footerr {
  /* display: flex;  */
  /* margin: 0 auto; */
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  

  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(0 * 0.5);
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 576px) {
  .footerr {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .footerr {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .footerr {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .footerr {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .footerr {
    max-width: 1320px;
  }
}


.ftnavi {
  /* box-sizing: border-box; */
  
  /* border: solid 1px black; */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}
.ftnavi ul {
  /* display: flex;  */
  color: #000000; 
  box-sizing: border-box; 
}
.ftnavi li {
  list-style: none;
  float: left;
}

.ftnavi li a {
  font-size: 13px; 
  font-weight: 300; 
  letter-spacing: -0.03em; 
  margin: 0 34px 10px 0;
}
.ftnavi li:nth-child(3) a, .ftnavi li:nth-child(4) a {
  font-size: 14px; 
  font-weight: 600;
}

.bottom_footer {
  display: flex;
  align-items: flex-end; 
  justify-content: space-between; 
  width: 100%;
  padding-bottom: 10px;
}
.addr {
  /* border: solid 1px black; */
  width: 60%;
  padding-top: 20px; 
  color: #767676; 
  font-size: 10px; 
  font-weight: 400; 
  letter-spacing: -0.05em;
}
.addr p {
  margin-bottom: 8px;
}
.addr span {
  margin: 0 10px;
}
.tel span {
  margin: 0 7px;
}
.addr .copy {
  padding-top: 15px; 
  font-size: 11px; 
  font-weight: 300; 
  letter-spacing: 0.08em;
}

.sns {
  display: flex;
  justify-content: flex-start;
  align-items: right;
  margin-left: auto;
}
.sns a {
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  padding-right: 0;
}

.sns img {
  /* border: solid 1px black; */
  width: 80%;
  margin-right: 0;
}